.w-plan-selector {
  display: grid;
  grid-template-columns: 606px 606px;
  gap: 48px;
  align-items: start;
  padding: 48px 0;
}

/* LEFT SIDE */

.w-plan-selector__monthly-plans,
.w-plan-selector__passes-plans {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-plan-tabs {
  display: flex;
  gap: 6px;
  margin-bottom: -1px;
}

.w-plan-tabs__tab {
  position: relative;

  padding: 16px 28px;

  border: 2px solid #e5e5e5;
  border-bottom: none;

  background: #F8F9FC;

  border-radius: 20px 20px 0 0;

  font-size: 16px;
  font-weight: 600;

  color: #6B7280;

  cursor: pointer;

  transition: all .25s ease;
}

.w-plan-tabs__tab:hover {
  background: #F3F4F6;
}

.w-plan-tabs__tab--active {
  background-color: rgba(115, 92, 245, 0.12);
  color: #05052D;

  border-color: rgba(115, 92, 245, 0.12);

  z-index: 2;
}

.w-plan-tabs__tab--active::after {
  content: "";

  position: absolute;

  left: 0;
  right: 0;
  bottom: -1px;

  height: 2px;

  background: white;
}

.w-plan-tabs__content {
  border: 2px solid #e5e5e5;
  border-radius: 0 20px 20px 20px;

  background: white;

  padding: 24px;
}

.w-plan-tabs__panel {
  display: none;
}

.w-plan-tabs__panel--active {
  display: block;
}

.w-plan-simple-card-container {
  position: relative;
}

.w-plan-simple-card__recommended-banner {
  padding: 6px 28px 20px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background-color: rgba(110, 212, 140, 0.8);
  color: var(--secondary-color);

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.w-plan-simple-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 24px 28px;

  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 20px;

  cursor: pointer;
  transition: all .2s ease;
}

.w-plan-simple-card--recommended {
  position: relative;
  margin-top: -16px;
}

.w-plan-simple-card:hover {
  border-color: var(--primary-color);
}

.w-plan-simple-card--active {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.w-plan-simple-card__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.w-plan-simple-card__row-start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.w-plan-simple-card__plan-name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.w-plan-simple-card__prices {
  margin-left: auto;
  text-align: right;
}

.w-plan-simple-card__price {
  font-size: 24px;
  font-weight: 700;
}

.w-plan-simple-card__check {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #dddddd;
}

.w-plan-simple-card--active .w-plan-simple-card__check {
  border-color: var(--primary-color);
  background: var(--primary-color);
  position: relative;
}

.w-plan-simple-card--active .w-plan-simple-card__check::after {
  content: "✓";
  color: white;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.w-plan-simple-card__description {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

.w-plan-simple-card__row-info {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.64;
}

.w-plan-simple-card__icon {
  width: 28px;
  height: 28px;
}

/* RIGHT SIDE */

.w-plan-summary-container {
  position: relative;
}

.w-plan-summary__banner {
  padding: 6px 28px 28px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background-color: rgba(5, 5, 45, 0.2);
  color: var(--secondary-color);

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.w-plan-summary {
  position: relative;
  top: -24px;
  padding: 24px 28px;
  border: 2px solid #ebebeb;
  border-radius: 24px;
  background-color: white;
}

.w-plan-summary__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.w-plan-summary__plane-name {
  font-size: 32px;
  font-weight: 700;
}

.w-plan-summary__image {
  width: 90px;
  border-radius: 12px;
}

.w-plan-details {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 4px 20px;
  margin-bottom: 24px;
}

.w-plan-details__row {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
}

.w-plan-details__row-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.w-plan-details__icon {
  width: 36px;
  height: 36px;
}

.w-plan-details__row:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.w-plan-details__badge {
  padding: 8px 14px;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.w-plan-details__plan-metadata {
  font-size: 1.25rem;
  font-weight: 700;
}

.w-plan-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.w-plan-counter__controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.w-plan-counter__controls button {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 12px;
  background: #f4f4f4;
  cursor: pointer;
}

.w-plan-price__row {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  border-top: 1px solid #eeeeee;
}

.w-plan-price__row--total {
  font-size: 28px;
  font-weight: 700;
}

.w-plan-price__row-cycle {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.64;
}

.w-plan-summary__button {
  width: 100%;
  margin-top: 36px;
  padding: 12px;

  border: none;
  border-radius: 16px;

  color: white;
  font-size: 22px;
  font-weight: 600;

  background:
    linear-gradient(
      90deg,
      #5F0FFF,
      #8E2BFF
    );

  cursor: pointer;
}
