.w-dashboard {
  display: flex;
  flex-flow: column;
  width: 1120px;
  max-width: calc(100% - 2rem);
  margin: 0px auto;
  padding: 4rem 0;
}

.w-dashboard__cards-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;
}

@media (min-width: 768px) {
  .w-dashboard__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.w-dashboard__card {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-color: #FFFFFF;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 32px;
}

.w-dashboard__card-label {
  position: absolute;
  top: -28px;
  left: 4px;
  font-family: 'manrope-bold', sans-serif;
  font-size: 0.875rem;
  color: #83868F;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
}

.w-dashboard__card-header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 4px solid #FFFFFF;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  min-height: 150px;
  width: 100%;
  padding: 1rem 2rem;
  text-align: left;
}

.w-dashboard__card-caption {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
}

.w-dashboard__card-title {
  margin: 0.5rem 0;
  font-family: 'manrope-bold', sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.w-dashboard__card-subtitle {
  margin: 0.25rem 0;
  font-size: 1rem;
  text-align: left;
  opacity: 0.88;
}

.w-dashboard__card-badge {
  position: absolute;
  top: calc(1rem + 4px);
  right: calc(1rem + 4px);
    
  color: var(--color-dark);
  padding: 0.125rem 0.75rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.w-dashboard__card-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  font-family: 'manrope-bold', sans-serif;
}

.w-dashboard__card__v-separator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  align-self: stretch;
}

.w-dashboard__card__h-separator {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}

.w-dashboard__card-details__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.w-dashboard__card-details__item-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.w-dashboard__card-details__item-caption {
  font-size: 0.875rem;
  font-weight: bold;
  opacity: 0.48;
}

.w-dashboard__card-content__details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.w-dashboard__card-content__details__qr-code {
  width: 180px;
  height: 180px;
}

.w-dashboard__card-content__details__description {
  font-size: 1rem;
  text-align: center;
  max-width: 320px;
  opacity: 0.88;
}

.w-dashboard__card-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 1.5rem;
}

.w-dashboard__card-content__label {
  font-family: 'manrope-bold', sans-serif;
  font-size: 0.875rem;
  color: #83868F;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 0.25rem;
}

.w-dashboard__card-content__value-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.w-dashboard__card-content__actions {
  display: flex;
  flex-flow: row;
  gap: 0.5rem;
}

.w-dashboard__card-content__action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #F2F3F5;
  cursor: pointer;
}

.w-dashboard__card-content__action-icon {
  width: 22px;
  height: 22px;
}

.w-dashboard__card-content__value {
  font-family: 'manrope-bold', sans-serif;
  font-size: 1.25rem;
  color: #000000;
  text-align: left;
}

.w-dashboard__card-promo-price {
  font-family: 'manrope-bold', sans-serif;
  font-size: 2.5rem;

  del {
    font-size: 2rem;
    opacity: 0.48;
  }

  span {
    font-size: 1.5rem;
    opacity: 0.48;
  }
}

.w-dashboard__card-promo-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
  width: 100%;
  padding: 1rem 2rem;
}

.w-dashboard__card-promo-details__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.w-dashboard__card-promo-details__item-icon {
  width: 22px;
  height: 22px;
}

.w-dashboard__card-promo-details__item-title {
  font-weight: 600;
}

.w-dashboard__card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.w-dashboard__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  height: 52px;
  border-radius: 26px;
  width: 100%;
  max-width: 320px;
  font-family: 'manrope-bold', sans-serif;
  cursor: pointer;
}

.w-dashboard__button--outlined {
  border: 2px solid rgb(232, 232, 232);
  background-color: #FFFFFF;
  color: var(--color-dark);
}

.w-dashboard__button--outlined:hover {
  background-color: rgb(232, 232, 232);
}

.w-dashboard__button.w-accent-dark-gradient-bg:hover {
  background: linear-gradient(135deg, var(--color-dark) 24.64%, var(--color-accent-dark) 94.36%);
}

.w-dashboard__button--continue:hover {
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent) !important;
  color: #FFFFFF;
}

.w-dashboard__button--continue:hover {
  background-color: var(--color-accent-dark-hover);
}

.w-dashboard__column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.w-dashboard__mini-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.w-dashboard__mini-card {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 32px;
  padding: 1rem 1.5rem;
}

.w-dashboard__device-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 1.5rem;
}

.w-dashboard__device-item__info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}

.w-dashboard__device-item__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  background-color: #F2F3F5;
}

.w-dashboard__device-item__icon {
  width: 22px;
  height: 22px;
}

.w-dashboard__device-item__name {
  font-weight: 600;
}

.w-dashboard__device-item__status {
  font-weight: 400;
  opacity: 0.6;
}

.w-dashboard__device-item__arrow {
  width: 26px;
  height: 26px;
  opacity: 0.6;
}
