/*
  Table of Contents
  ---------------------
    0. RESET
    1. TYPOGRAPHY
    2. COLORS
    3. GRID
    4. BASE
    5. COMPONENTS
 */

/* ---------------------
  0. RESET
--------------------- */
@import url('../reset.css');
@import url('../scrollbar.css');

/* ---------------------
  1. TYPOGRAPHY
--------------------- */
@import url('typography.css');

/* ---------------------
  2. COLORS
--------------------- */
@import url('colors.css');

/* ---------------------
  3. GRID
--------------------- */

/* ---------------------
  4. BASE
--------------------- */
:root {
  --button-radius: 16;
}

body {
  /* background: url('../img/bg_pattern_01.png') center / cover no-repeat fixed; */
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.gap-0 {
  gap: 0px !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cursor-none {
  cursor: none !important;
}

.w-accent-text {
  color: var(--color-accent) !important;
}

.w-error-bg {
  background-color: red;
  color: #FFFFFF;
}

.w-primary-bg {
  background-color: var(--color-primary);
  color: #FFFFFF;
}

.w-secondary-bg {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.w-gray-bg {
  background-color: #f5f5f5 !important;
}

.w-highlighted {
  background-color: var(--secondary-color) !important;
  color: #FFFFFF !important;
}

.w-badge {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  padding: 0.125rem 1rem;
  font-family: 'europa-light', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  text-transform: uppercase;
}

.w-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0px;
  background-color: var(--color-primary);
  cursor: pointer;
  white-space: nowrap;
  color: #FFFFFF;
  height: 2.375rem;
  padding: 0px 1.5rem;
  border-radius: calc(48px * (var(--button-radius) / 100));
  font-family: 'panton-bold', sans-serif;
}

.w-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 78.75rem;
  max-width: calc(100% - 2.5rem);
  margin: 0px auto;
}

.w-text-primary {
  color: var(--color-primary);
}

.w-text-accent {
  color: var(--color-accent);
}

/* ---------------------
  5. COMPONENTS
--------------------- */
.w-header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.875rem;
  width: 100%;
  padding: 0px 1rem;
  text-align: center;
  gap: 0.25rem;
  background: radial-gradient(29.05% 42.59% at 50% -5.56%, var(--color-primary) 0%, var(--secondary-color) 100%);
  color: #FFFFFF;
  font-family: 'panton-bold', sans-serif;
}

@media (min-width: 768px) {
  .w-header-banner {
    height: 3.375rem;
  }
}

.w-header-banner a {
  color: var(--color-accent);
  text-decoration: underline;
}

.w-header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, var(--color-dark), var(--color-primary), var(--color-accent));
  padding: 1rem 2rem;
}

.w-header__container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0.5rem 0px;
}

.w-logo {
  width: 120px;
}

.w-header__text {
  font-family: 'europa-light', sans-serif;
  color: #FFFFFF;
}

.w-header__title {
  font-family: 'europa-light', sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.w-stepper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0px;
}

.w-stepper__item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 80px;
  text-decoration: none;
  color: var(--secondary-color);
}

.w-stepper__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-light);
  border-radius: 50%;
  font-family: 'panton-bold', sans-serif;
  color: var(--color-dark);
}

.w-stepper__item--active .w-stepper__number {
  background-color: var(--color-accent);
  color: #FFFFFF;
}

.w-stepper__item--done .w-stepper__number {
  background-color: var(--color-accent);
  color: #FFFFFF;
}

.w-stepper__item--done .w-stepper__label {
  color: var(--color-accent);
  font-weight: 600;
}

.w-stepper__label {
  font-family: 'europa-light', sans-serif;
}

.w-stepper__line {
  margin-top: 1.25rem;
  height: 2px;
  width: 120px;
  background-color: #e5e0ff;
}

.w-stepper__item--active .w-stepper__label {
  font-weight: 600;
  color: var(--color-accent);
}

.w-connection {
  display: flex;
  flex-flow: column;
  width: 1120px;
  max-width: calc(100% - 2.5rem);
  margin: 0px auto;
}

.w-connection__title {
  font-family: 'panton-bold', sans-serif;
  text-align: center;
}

.w-connection__subtitle {
  text-align: center;
  font-family: 'europa-light', sans-serif;
  color: var(--secondary-color);
}

.w-connection__cards {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.w-passes {
  display: none;
}

.w-connection:has(#day-passes:checked) .w-plans {
  display: none;
}

.w-connection:has(#day-passes:checked) .w-passes {
  display: flex;
}

.w-connection__side {
  display: flex;
  flex-flow: column;
  flex: 1;
  gap: 1.5rem;
  max-width: 720px;
}

.w-connection__cards-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.w-connection__card {
  width: 100%;
  max-width: 720px;
}

.w-connection-card,
.w-connection-card--large {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: #FFFFFF;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 20px;
  overflow: hidden;

  cursor: pointer;

  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.w-connection-card {
  flex-flow: row;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem;
}

.w-connection-card--large {
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
}

.w-connection-card:hover,
.w-connection-card--large:hover {
  border-color: #735CF5;
  box-shadow:
    0 12px 32px rgba(115, 92, 245, 0.12);
  transform: scale(1.054);
}

.w-connection-card--large.disable-hover:hover {
  transform: none;
  box-shadow: none;
  border-color: rgb(232, 232, 232);
}

.w-connection-card__ahref {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.w-connection-card__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: rgba(115, 92, 245, 0.2);
}

.w-connection-card__icon {
  width: 44px;
  height: 44px;
}

.w-connection-card__info {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.w-connection-card__title {
  font-family: 'panton-bold', sans-serif;
  font-size: 1.75rem;
  color: var(--color-accent);
}

.w-connection-card__type {
  font-family: 'europa-light', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

.w-connection-card__description {
  font-family: 'europa-light', sans-serif;
}

.w-highlighted .w-connection-card__icon-container {
  background-color: rgba(255, 255, 255, 0.12);
}

.w-connection__extra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
}

.w-connection__extra-description {
  font-family: 'europa-light', sans-serif;
}

.w-connection__cta,
.w-connection-card__cta,
.w-plan-card__cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  border-radius: 20px;
  min-width: 160px;
  background-color: var(--color-accent);
  font-family: 'panton-bold', sans-serif;
  color: #FFFFFF;
}

.w-connection-card__cta:hover {
  cursor: pointer;
}

.w-connection-card__cta {
  opacity: 0;

  transition: opacity .6s ease;
}

.w-plan-card__cta {
  width: 100%;
  opacity: 1;
}

.w-connection-card:hover .w-connection-card__cta {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.w-connection__cta-icon {
  margin-right: 8px;
  width: 28px;
  height: 28px;
}

.w-connection-card__price-info {
  margin-top: 2rem;
  font-family: 'europa-light', sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.w-plan-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 4px solid #FFFFFF;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 2rem;
  width: 100%;
  text-align: left;
}

.w-plan-card__title,
.w-connection-summary__plane-name {
  margin: 0;
  font-family: 'panton-bold', sans-serif;
  font-size: 1.75rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.w-primary-highlight .w-plan-card__title {
  color: var(--color-primary);
}

.w-accent-highlight .w-plan-card__title {
  color: var(--color-accent);
}

.w-accent-dark-highlight .w-plan-card__title {
  color: var(--color-accent-dark);
}

.w-light-bga {
  background-color: rgba(228, 228, 228, 0.24);
}

.w-accent-bga {
  background-color: rgba(97, 64, 241, 0.12) !important;
}

.w-accent-dark-bga {
  background-color: rgba(110, 211, 129, 0.12) !important;
}

.w-plan-card__icon {
  width: 56px;
  height: 56px;
}

.w-plan-card__description {
  margin-top: 2px;
  font-family: 'europa-light', sans-serif;
  color: #555;
}

.w-plan-card__price,
.w-connection-summary__price {
  margin-top: 1rem;
  font-family: 'panton-bold', sans-serif !important;
  font-size: 2rem;
  color: var(--secondary-color);

  span {
    font-size: 16px;
    color: var(--color-dark) !important;
    opacity: 0.4;
  }
}

.w-primary-highlight .w-plan-card__price {
  color: var(--color-primary);
}

.w-plan-card__price del {
  color: var(--secondary-color);
  opacity: 0.4;
}

.w-plan-card__speed-info {
  height: 128px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8px;
}

.w-plan-card__price-info {
  font-family: 'europa-light', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
  width: 100px;
  padding: 4px 8px;
  border-radius: 8px;
  /* background-color: rgba(110, 212, 140, 0.12); */
  background-color: #3ED475;
}

.w-plan-card__speed {
  position: relative;
  top: -8px;
  width: 80px;
}

.w-plan-card__gauge {
  width: 100%;
}

.w-plan-card__gauge-bg {
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 8;
}

.w-plan-card__gauge-value {
  fill: none;
  stroke: #73d48b;
  stroke-width: 8;
}

.w-plan-card__needle {
  stroke: #555;
  stroke-width: 3;
}

.w-plan-card__center {
  fill: #555;
}

.w-plan-card__content {
  width: 100%;
  padding: 1rem 2rem 2rem;
  text-align: left;
}

.w-plan-card__divider {
  margin: 20px 0;
  border: none;
  border-top: 2px solid rgba(232, 232, 232, 0.4);
}

.w-plan-card__features {
  padding-left: 20px;
  margin: 0;
}

.w-plan-card__features li {
  font-family: 'europa-light', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}

.w-plan-card__features li::marker {
  color: var(--secondary-color);
}

.w-primary-highlight .w-plan-card__features li::marker {
  color: var(--color-primary);
}

.w-accent-highlight .w-plan-card__features li::marker {
  color: var(--color-accent);
}

.w-plan-card__best-for {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}

.w-plan-card__best-for-pill {
  padding: 4px 16px;
  border-radius: 16px;
  color: var(--color-dark);
}

.w-primary-highlight .w-plan-card__best-for {
  background-color: rgba(229, 224, 255, 0.48);

  strong {
    color: var(--color-primary);
  }
}

.w-accent-dark-highlight .w-plan-card__best-for {
  strong {
    color: var(--color-accent-dark);
  }
}

.w-connection__switch-button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  font-family: 'europa-light', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  background-color: var(--color-primary);

  cursor: pointer;
}

.w-plan-card__header-esim {
  padding: 2rem 2rem 0;
  width: 100%;
  font-family: 'europa-light', sans-serif;
  font-size: 2rem;
  color: var(--color-primary);
  text-align: left;
}

.w-plan-card__header-description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: left;
}

.w-connection-summary {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 0 2px;
  margin: 0 auto;
  width: 760px;
}

.w-connection-summary__session {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 2px;
  width: 100%;
  font-family: 'europa-light', sans-serif;
}

.w-connection-summary__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: rgba(5, 5, 45, 0.04);
}

.w-connection-summary__plane-name {
  font-size: 2rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.w-connection-summary__speed-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}

.w-connection-summary__speed {
  width: 48px;
}

.w-connection__pass-cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.w-connection__pass-side {
  display: flex;
  width: 100%;
  max-width: 760px;
}

.w-connection-summary__pass-content,
.w-connection-summary__plans-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 12px;
  padding: 16px 20px;
}

.w-connection-summary__plans-content__header {
  margin-bottom: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.w-connection-summary__plans-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.w-connection-summary__plan-feature {
  display: flex;
  gap: 6px;
}

.w-accent-highlight .w-connection-summary__plans-features li::marker {
  color: var(--color-accent);
}

.w-create-account__cards {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}

.w-create-account__form {
  width: 100%;
}

.w-create-account__summary-details {
  display: flex;
  flex-flow: column;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: rgba(5, 5, 45, 0.04);
}

.w-create-account__summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.w-create-account__summary-plane-name {
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.w-create-account__summary-subtitle {
  font-family: 'europa-light', sans-serif;
  font-size: 14px;
  opacity: 0.64;
}

.w-create-account__summary-price {
  font-family: 'panton-bold', sans-serif !important;
  font-size: 1.5rem;
  color: var(--secondary-color);

  span {
    font-size: 1rem;
    color: var(--secondary-color) !important;
    opacity: 0.4;
  }
}

.w-create-account__divider {
  margin: 8px 0;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.02) !important;
  width: 100%;
}

.w-create-account__offers {
  display: flex;
  gap: 8px;
  font-family: 'europa-light', sans-serif;
  margin-left: 16px;
  width: 100%;
}

.w-primary-checkbox {
  accent-color: var(--color-primary);
}

.w-login {
  margin: 2rem 0px 4rem;
  text-align: center;
  font-family: 'europa-light', sans-serif;
  color: var(--secondary-color);

  a {
    color: var(--color-primary);
    font-weight: 600;
  }
}

footer {
  background: linear-gradient(to right, var(--color-dark), var(--color-primary), var(--color-accent));
  color: #FFFFFF;
}

.w-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 78.75rem;
  max-width: calc(100% - 2.5rem);
  margin: 0px auto;
  padding: 1.75rem 0px;
}

.w-footer__contact {
  margin-right: 2rem;
}


/* -------------------- */
/* SELECT PLAN TABS */
/* -------------------- */

.w-plan-selector {
  width: 720px;
  margin: 0 auto;
  margin-top: 2rem;
}

.w-plan-selector__monthly-plans,
.w-plan-selector__passes-plans {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-plan-tabs {
  display: flex;
  gap: 6px;
  margin-bottom: -1px;
}

.w-plan-tabs__tab {
  position: relative;

  padding: 16px 28px;

  border: 2px solid #e5e5e5;
  border-bottom: none;

  background: #F8F9FC;

  border-radius: 20px 20px 0 0;

  font-size: 16px;
  font-weight: 600;

  color: #6B7280;

  cursor: pointer;

  transition: all .25s ease;
}

.w-plan-tabs__tab:hover {
  background: #F3F4F6;
}

.w-plan-tabs__tab--active {
  background-color: rgba(115, 92, 245, 0.12);
  color: #05052D;

  border-color: rgba(115, 92, 245, 0.12);

  z-index: 2;
}

.w-plan-tabs__tab--active::after {
  content: "";

  position: absolute;

  left: 0;
  right: 0;
  bottom: -1px;

  height: 2px;

  background: white;
}

.w-plan-tabs__content {
  border: 2px solid #e5e5e5;
  border-radius: 0 20px 20px 20px;

  background: white;

  padding: 24px;
}

@media (max-width: 1280px) {
  .w-plan-tabs__content {
    padding: 16px;
  }
}

.w-plan-tabs__panel {
  display: none;
}

.w-plan-tabs__panel--active {
  display: block;
}

.w-plan-simple-card-container {
  position: relative;
}

.w-plan-simple-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 24px 28px;

  background-color: white;
  border: 2px solid #e5e5e5;
  border-radius: 20px;

  cursor: pointer;
  transition: all .2s ease;
}

.w-plan-simple-card:hover {
  border-color: var(--color-primary);
}

.w-plan-simple-card--active {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1px var(--color-primary);
}

.w-plan-simple-card__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.w-plan-simple-card__row-start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.w-plan-simple-card__row-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.w-plan-simple-card__row-info {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.64;
}

.w-plan-simple-card__icon {
  width: 24px;
  height: 24px;
}

.w-plan-simple-card__plan-name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.w-plan-simple-card__prices {
  margin-left: auto;
  text-align: right;
}

.w-plan-simple-card__price {
  font-size: 24px;
  font-weight: 700;
}

.w-plan-simple-card__description {
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
}

/* -------------------- */
/* FULL SCREEN MODAL */
/* -------------------- */

.w-full-screen-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  background-color: rgba(255, 255, 255, 0.16);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
}

.w-full-screen-modal__content {
  position: relative;

  width: 100%;
  max-width: 960px;
  max-height: 90vh;

  border-radius: 24px;

  background: var(--color-primary);

  overflow-y: auto;

  transform: translateY(40px);
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.04);
}

.w-full-screen-modal--open {
  opacity: 1;
  visibility: visible;
}

.w-full-screen-modal--open
.w-full-screen-modal__content {
  transform: translateY(0);
}

.w-full-screen-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(2px);
}

.w-full-screen-modal__close {
  position: absolute;
  top: 32px;
  right: 32px;

  width: 56px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);

  cursor: pointer;
  z-index: 10;

  transition:
    transform 0.25s ease,
    background 0.25s ease;
}

.w-full-screen-modal__close:hover {
  transform: rotate(90deg) scale(1.08);
  background: rgba(255, 255, 255, 0.64);
}

.w-full-screen-modal__close span {
  position: absolute;
  width: 22px;
  height: 2px;

  background: #FFFFFF;
  border-radius: 999px;

  transition: transform 0.25s ease;
}

.w-full-screen-modal__close span:first-child {
  transform: rotate(45deg);
}

.w-full-screen-modal__close span:last-child {
  transform: rotate(-45deg);
}

.w-full-screen-modal__body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 32px;
}

.w-full-screen-modal__title {
  margin-bottom: 24px;
  font-family: 'panton-bold', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-accent-dark);
  text-align: center;
}

.w-full-screen-modal__text {
  margin-bottom: 20px;
  font-family: 'europa-light', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.88;
}

.w-full-screen-modal__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 500px;
}
